<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" href="../public/styles/main.css" />
    <title>BookWorm</title>
  </head>
  <body>
    <!-- Header Section -->
    <section id="header-section">
      <div class="header-content">
        <h1 class="main-header">Emmanuel Weyinmi</h1>
        <h2 class="sub-heading">Books I've Read</h2>
      </div>
      <div class="sub-header-content">
        <p class="intro-paragraph">
          Tiny summary but
          <strong>detailed notes for each.</strong> Use the ISBN number to find
          it from your local library or anywhere else.<strong>
            This page will constantly update as I read more </strong
          >, so bookmark it if you want to check back in a few months.
        </p>
        <p class="sorting-paragraph">
          Sorted with <strong>my top recommendations up top</strong>. Sort by
          <a href="#">title</a>, <a href="#">newest</a>, or
          <a href="#">best</a>.
        </p>

        <p class="faq-paragraph">
          And
          <strong
            >please read <a href="#">this FAQ page</a> about these notes</strong
          >, if you have any questions. You can also <a href="#">email me</a>.
        </p>
      </div>
    </section>
    <hr />

    <section id="main-section" class="main-section">
      <div class="main-content">
        <div class="book-info">
          <img
            src="https://covers.openlibrary.org/b/isbn/0385472579-M.jpg"
            alt=""
            class="book-image"
          />
          <div class="book-details">
            <h2>
              <a href="#" class="book-title-link"
                >You Can Negotiate anything - By Hereb Cohen</a
              >
            </h2>

            <p class="date-read">
              Date Read: 2023-08-02. How Strongly I recommend It: 10/10
            </p>

            <p class="book-description">
              Everything is negotiable. Challenge authority. You have the power
              in any situation. This is how to realize it and use it. A
              must-read classic from 1980 from a master negotiator. My notes
              here aren't enough because the little book is filled with so many
              memorable stories — examples of great day-to-day moments of
              negotiation that will stick in your head for when you need them.
              (I especially loved the one about the power of the prisoner in
              solitary confinement.) So go buy and read the book. I'm giving it
              a 10/10 rating even though the second half of the book loses
              steam, because the first half is so crucial.
            </p>
          </div>
        </div>

        <p class="external-links">
          <a href="#">Read my notes</a>, or go to the
          <a href="#">Amazon page</a> for details and reviews.
        </p>
      </div>
      <div class="main-content">
        <div class="book-info">
          <img
            src="https://covers.openlibrary.org/b/isbn/0385472579-M.jpg"
            alt=""
            class="book-image"
          />
          <div class="book-details">
            <h2>
              <a href="#" class="book-title-link"
                >You Can Negotiate anything - By Hereb Cohen</a
              >
            </h2>

            <p class="date-read">
              Date Read: 2023-08-02. How Strongly I recommend It: 10/10
            </p>

            <p class="book-description">
              Everything is negotiable. Challenge authority. You have the power
              in any situation. This is how to realize it and use it. A
              must-read classic from 1980 from a master negotiator. My notes
              here aren't enough because the little book is filled with so many
              memorable stories — examples of great day-to-day moments of
              negotiation that will stick in your head for when you need them.
              (I especially loved the one about the power of the prisoner in
              solitary confinement.) So go buy and read the book. I'm giving it
              a 10/10 rating even though the second half of the book loses
              steam, because the first half is so crucial.
            </p>
          </div>
        </div>

        <p class="external-links">
          <a href="#">Read my notes</a>, or go to the
          <a href="#">Amazon page</a> for details and reviews.
        </p>
      </div>
      <div class="main-content">
        <div class="book-info">
          <img
            src="https://covers.openlibrary.org/b/isbn/0385472579-M.jpg"
            alt=""
            class="book-image"
          />
          <div class="book-details">
            <h2>
              <a href="#" class="book-title-link"
                >You Can Negotiate anything - By Hereb Cohen</a
              >
            </h2>

            <p class="date-read">
              Date Read: 2023-08-02. How Strongly I recommend It: 10/10
            </p>

            <p class="book-description">
              Everything is negotiable. Challenge authority. You have the power
              in any situation. This is how to realize it and use it. A
              must-read classic from 1980 from a master negotiator. My notes
              here aren't enough because the little book is filled with so many
              memorable stories — examples of great day-to-day moments of
              negotiation that will stick in your head for when you need them.
              (I especially loved the one about the power of the prisoner in
              solitary confinement.) So go buy and read the book. I'm giving it
              a 10/10 rating even though the second half of the book loses
              steam, because the first half is so crucial.
            </p>
          </div>
        </div>

        <p class="external-links">
          <a href="#">Read my notes</a>, or go to the
          <a href="#">Amazon page</a> for details and reviews.
        </p>
      </div>
      <div class="main-content">
        <div class="book-info">
          <img
            src="https://covers.openlibrary.org/b/isbn/0385472579-M.jpg"
            alt=""
            class="book-image"
          />
          <div class="book-details">
            <h2>
              <a href="#" class="book-title-link"
                >You Can Negotiate anything - By Hereb Cohen</a
              >
            </h2>

            <p class="date-read">
              Date Read: 2023-08-02. How Strongly I recommend It: 10/10
            </p>

            <p class="book-description">
              Everything is negotiable. Challenge authority. You have the power
              in any situation. This is how to realize it and use it. A
              must-read classic from 1980 from a master negotiator. My notes
              here aren't enough because the little book is filled with so many
              memorable stories — examples of great day-to-day moments of
              negotiation that will stick in your head for when you need them.
              (I especially loved the one about the power of the prisoner in
              solitary confinement.) So go buy and read the book. I'm giving it
              a 10/10 rating even though the second half of the book loses
              steam, because the first half is so crucial.
            </p>
          </div>
        </div>

        <p class="external-links">
          <a href="#">Read my notes</a>, or go to the
          <a href="#">Amazon page</a> for details and reviews.
        </p>
      </div>
    </section>

    <section id="footer-section"></section>

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script> -->
  </body>
</html>
